@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: roboto;
    background-color: #101010;
}
/* layout */
.layout{
width: 100%;
background: rgb(106, 66, 252);
color: #ffffff;
height: 320px;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(3,1fr);
}
.title{
    font-size: 60px;
    width: 400px;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}
@media screen and (max-width:450px){
.layout{
height: 250px;

 }
.title{
    width: 280px;
    font-size: 40px;
    grid-column: 1/-1;
    margin: auto;

}
.reproductor h1{
    font-size: 40px;
}

}
/*descripcion  */
.section{
    font-size: 30px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin: 30px auto;
    
}   
.description{
    grid-column: 2/12;
    text-align: start;
    font-size: 18px;
    color:#ffffff ;
} 
/* publicidad */
.reproductor{
    width: 80%;
    margin: auto;
    color: #ffffff;
    font-size: 38px;
}
.reproductor span{
color: #6A42FC;
}
/* canciones */

.card-song{
    width: 100%;
    display: flex;
    height: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px auto;
}
.card{
    width: 220px;
    height: 260px;
    background: #171717;
    margin: 20px;
}
.card:hover{
    border: 2px solid #6A42FC;
}
.img{
    width:220px ;
    height: 220px;
    padding: 10px;
    
}
/* publicidad para descargar : arreglar algunos atributos */
.publicidad{
    width: 100%;
    height:600px;
    background: #171717;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    padding: 80px;
}
.pub img{
    grid-column: 1/2;
    width: 90%;
    margin:  auto;
}
.pub p {
    grid-column: 2/3;
    font-size: 30px;
    color: #cccccc;
    margin:  auto;
}
.DWLD{
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}
.cta{
    width: 200px;
    background:#6A42FC;
    border: 5px solid #6A42FC;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    padding: 10px 0 ;
    text-decoration: none;
    margin-top: 30px;
    font-size: 25px;
}

